<div class="rightSide ms-5" *ngFor="let item of userChatList">
  <!-- chatpage Header -->
  <div class="header">
    <div class="imgText">
        <img
        src="{{item.picture.large}}"
        class="rounded-circle userimg shadow-sm bg-secondary rounded">
      <h4>{{item.name.first}} {{item.name.last}} <br><span>online</span></h4>
    </div>
    <div class="d-flex iconSize">
      <i class="fa mx-2 p-2 fa-2x fa-video-camera" aria-hidden="true"></i>
      <i class="fa mx-2 p-2 fa-2x fa-phone" aria-hidden="true"></i>
      <i class="fa mx-2 p-2 fa-2x fa-ellipsis-h float-end" aria-hidden="true"></i>
    </div>
  </div>
  <!-- CHAT-BOX -->
  <div class="chatbox">
    <div class="message friend_msg">
    </div>
    <div class="message my_msg">
      <p>{{item.location.timezone.description}}<br><span>12:15</span></p>
    </div>
  </div>
  <!-- CHAT footer -->
  <div class="chat_input ">
    <input type="text" placeholder="Type a message">
    <div class="input-group-prepend">
      <span class="iconSize">
        <i class="fa fa-1x fa-send"></i></span>
  </div>
  </div>
</div>

